{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
Property Details
{% endblock title %}

{% block content %}
  <style>
    .form-check {
      position: relative;
      display: none;
      padding-left: 1.25rem;
    }
  </style>
  <div class="content-body">
    <!-- row -->
    <!-- row -->
    <div class="container-fluid">
      <div class="form-head page-titles d-flex align-items-center">
        <div class="mr-auto d-lg-block">
          <h2 class="text-black font-w600">Property Details</h2>
        </div>
        <a href="{% url 'PropertyPost-list' %}" class="btn btn-primary rounded light mr-3">Property View</a>
      </div>
      <div class="row">
        {% load crispy_forms_tags %}

        {{ form|crispy }}
        <br />
      </div>
    </div>
  </div>
{% endblock %}
