{% extends 'tbase.html' %}
{% load static %}

{% block title %}
Mission & Vision
{% endblock %}

{% block content %}


<!-- Margin top -->
<div class="text-white pt-40" style="background-image: url('{% static 'indexApp/images/company-profile.jpg' %}');">
  <div class="container mx-auto py-6 px-4">
    <p class="text-4xl">Mission & Vision</p>

    <p class="pt-5 text-lg"><a href="/">Home</a> > Mission & Vision</p>
  </div>
</div>
  <div class="container mx-auto px-2">
    <div class="pt-10 space-y-4">
      <p>{{query.details|safe}}</p>
    </div>
  </div>
{% endblock %}
