{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
Notice Add
{% endblock title %}

{% block content %}
  <!-- **********************************
    Content body start
*********************************** -->
  <div class="content-body">
    <!-- row -->
    <!-- row -->
    <div class="container-fluid py-3">
      <div class="form-head page-titles d-flex align-items-center">
        <div class="mr-auto d-lg-block">
          <h2 class="text-black font-w600">Add Notice</h2>
        </div>
        <a href="{% url 'notice_view' %}" class="btn btn-primary rounded light mr-3">View</a>
      </div>
      <div class="row">
        <!-- {% load crispy_forms_tags %} -->
        <form method="post" enctype="multipart/form-data">
          {% load crispy_forms_tags %}
          {% csrf_token %}

          {{ form|crispy }}
          <br />

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- **********************************
            Content body end
        *********************************** -->
{% endblock %}
