{% extends 'tbase.html' %}
{% load static %}

{% block title %}
CSR
{% endblock title %}

{% block content %}

<!-- Margin top -->
<div class="text-white pt-40"style="background-image: url('{% static 'indexApp/images/company-profile.jpg' %}');">
    <div class="container mx-auto py-6 px-4">
      <p class="text-4xl">Corporate Social Responsibility</p>
  
      <p class="pt-5 text-lg"><a href="/">Home</a> > Corporate Social Responsibility</p>
    </div>
</div>
<div class="container my-5 mx-auto">
    <div class="row">
      <div class="main-title-3 mt-5">
       <div class="flex justify-center px-2">
        <p class="section-subtitle text-center text-sm lg:text-lg font-semibold bg-[#CED6D1] text-green-600 px-4 rounded-full whitespace-nowrap">Corporate Social Responsibility Of Matrichaya Properties</p>
       </div>
        <hr class="border-t-2 border-gray-300 mt-2 mb-5" />
      </div>
      
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-4 py-1">
        {% for i in csr %}
          <div class="border p-4 flex flex-col hover:scale-105 transition-all duration-300 delay-300 shadow-lg">
            <a href="{% url 'csr-detail' i.id %}" class="block">
              {% if i.image %}
                <img src="{{ i.image.url }}" alt="{{ i.title }}" class="w-full h-40 object-cover" />
              {% endif %}
              <div class="card-body flex flex-col justify-between h-full p-4">
                <h5 class="card-title text-lg font-semibold text-center">{{ i.title }}</h5>
                <p class="card-text text-center text-sm mt-2 mb-4 line-clamp-2">{{ i.description|safe|truncatewords:'10' }}</p>
                <a href="{% url 'csr-detail' i.id %}" class="btn-md button-theme btn-3 text-center mt-auto py-3 px-4 bg-color hover:bg-green-700  text-white rounded-md">View Details</a>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      
     
    </div>
  </div>



{% endblock content %}