{% extends 'base.html' %}
{% load static %}

{% block title %}
{{single_blog.title}}
{% endblock title %}

{% block content %}
<div class="blog-body content-area mt_blog">
    <div class="container">
        <div class="row">
            <!-- <h1 style="text-align: center; font-weight:500;text-shadow: 0 0 red;margin-bottom: 30px; background-color:darkgray">BLOG</h1> -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- Blog 1 start -->
                <div class="blog-1">
                    <div class="blog-inner">
                        <div class="blog-overflow">
                            <div class="blog-photo">
                                {% if single_blog.blog_img %}
                                <img src="{{single_blog.blog_img.url}}" alt="blog-1" class="img-fluid w-100">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="detail">
                    <h3>
                        <a href="blog-single-sidebar-right.html">{{single_blog.title}}!</a>
                    </h3>
                    <ul class="post-meta clearfix d-flex">
                        <li style="padding-right:10px;">
                            <i class="fa fa-user-o"></i> admin
                        </li>
                        <li>
                            <i class="fa fa-calendar-check-o"></i> {{single_blog.get_date}}
                        </li>
                        <li>
                            <!-- <i class="fa fa-comment"></i> Comment -->
                        </li>
                    </ul>
                    <p style="text-align: justify;">{{single_blog.details}}</p>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br>
            <!-- Pagination box end -->
        </div>
    </div>
</div>


{% endblock content %}