{% extends 'tbase.html' %}
{% load static %}

{% block title %}
Blog
{% endblock title %}

{% block content %}

<!-- Margin top -->
<div class="text-white pt-40" style="background-image: url('{% static 'indexApp/images/company-profile.jpg' %}');">
    <div class="container mx-auto py-6 px-4">
      <p class="text-4xl">Blog</p>
  
      <p class="pt-5 text-lg"><a href="/">Home</a> > Blog</p>
    </div>
</div>



<div class="blog-body content-area mt-10">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            {% for blog in blog_query %}
            <div class="lg:w-1/2 md:w-full sm:w-full p-4">
                <!-- Blog 1 start -->
                <div class="blog-1">
                    <div class="blog-inner">
                        <div class="blog-overflow">
                            <div class="blog-photo">
                                {% if blog.blog_img %}
                                <img src="{{ blog.blog_img.url }}" alt="blog-1" class="w-full aspect-[2/1] object-fill rounded-lg shadow-lg transition-transform duration-300 delay-300 ease-in-out transform hover:scale-105">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:w-1/2 md:w-full sm:w-full p-4">
                <div class="detail">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                        <a href="{% url 'read-more' blog.slug %}" class="text-color hover:text-green-700">{{ blog.title }}!</a>
                    </h3>
                    <ul class="post-meta list-none flex space-x-4 text-gray-600 text-sm mb-4">
                        <li class="flex items-center space-x-1">
                            <i class="fa fa-user-o"></i>
                            <span>admin</span>
                        </li>
                        <li class="flex items-center space-x-1">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>{{ blog.get_date }}</span>
                        </li>
                    </ul>
                    <p class="text-justify text-gray-700 mb-4">{{ blog.details|safe|truncatewords:"50"|linebreaks }}</p>
                    <a href="{% url 'read-more' blog.slug %}" class="text-color hover:text-green-700 font-medium">Read More...</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination box end -->
        <div class="flex justify-center mt-6">
            <!-- Add your pagination here if necessary -->
        </div>
    </div>
</div>
{% endblock content %}