{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
Documents
{% endblock title %}

{% block content %}
<!-- **********************************
    Content body start
*********************************** -->
<div class="content-body">
  <div class="container-fluid">
    <div class="form-head page-titles d-flex align-items-center">
      <div class="mr-auto d-lg-block">
        <h2 class="text-black font-w600">Documents</h2>
      </div>
      <a href="{% url 'document_add' %}" class="btn btn-primary rounded light mr-3">Upload Document</a>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive table-hover fs-14">
          <table class="table table-hover display mb-4 dataTablesCard card-table" id="example-5">
            <thead>
              <tr>
                <th>ID</th>
                <th>PDF File</th>
                <th>Preview</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for i in query %}
              <tr>
                <td>{{ i.id }}</td>
                <td>
                  <a href="{{ i.pdf.url }}" target="_blank">
                    {{ i.pdf.name }}
                  </a>
                </td>
                <td>
                  <iframe src="{{ i.pdf.url }}" width="100" height="100"></iframe>
                </td>
                <td>
                  <a href="{% url 'document_edit' i.id %}" class="text-info h4 mr-1" data-bs-toggle="tooltip" title="Edit">
                    <i class="ti-marker-alt"></i>
                  </a>
                  <a href="javascript:void(0)" class="text-danger delete-link h4" data-url="{% url 'document_delete' i.id %}" data-bs-toggle="tooltip" title="Delete">
                    <i class="ti-trash"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="4" class="text-center">No documents uploaded yet.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- **********************************
    Content body end
*********************************** -->
{% endblock %}

