{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
Admin View
{% endblock title %}

{% block content %}
  <!--  **********************************
    Content body start
***********************************  -->
  <div class="content-body">
    <!-- row -->
    <!-- row -->
    <div class="container-fluid">
      <div class="form-head page-titles d-flex align-items-center">
        <div class="mr-auto d-lg-block">
          <h2 class="text-black font-w600">Admin</h2>
        </div>
        <a href="{% url 'admin_profile_add' %}" class="btn btn-primary rounded light mr-3">Add Admin</a>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="table-responsive table-hover fs-14">
            <table class="table table-hover display mb-4 dataTablesCard card-table" id="example-5">
              <thead>
                <tr>
                  <!--   <th>
                                    <div class="custom-control custom-checkbox ml-2">
                                        <input type="checkbox" class="custom-control-input" id="checkAll" required="">
                                        <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </th>   -->
                  <th>Pro. ID</th>
                  <th>Admin Image</th>
                  <th>Logo</th>
                  <th>Favicon</th>
                  <th>Action</th>
                </tr>

                <!--   {% for object in fields %}
                               {{object}}
                                <th>
                                {% for fieldname in object %}<td>{{ fieldname }}</td>{% endfor %}
                                </th>
                                
                                <tr>
                                {% for value in object.values %}<td>{{ value }}</td>{% endfor %}
                                </tr>
                            {% endfor %}   -->
              </thead>
              <tbody>
                {% for i in query %}
                  <tr>
                    <!--   <td>
                                    <div class="custom-control custom-checkbox ml-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheckBox5" required="">
                                        <label class="custom-control-label" for="customCheckBox5"></label>
                                    </div>
                                </td>   -->

                    <td>{{ i.id }}</td>
                    <td>
                      {% if i.admin_image %}
                        <img src="{{ i.admin_image.url }}" class="dynamic-img" style="--width: 70px;" />
                      {% endif %}
                    </td>
                    <td>
                      {% if i.logo %}
                        <img src="{{ i.logo.url }}" class="dynamic-img" style="--width: 120px; --fit: contain;" />
                      {% endif %}
                    </td>
                    <td>
                      {% if i.favicon %}
                        <img src="{{ i.favicon.url }}" class="dynamic-img" style="--width: 50px;" />
                      {% endif %}
                    </td>

                    <td>
                      <a href="{% url 'admin_profile_edit' i.id %}" class="text-info mr-1 h4" data-bs-toggle="tooltip" data-bs-original-title="Edit"><i class="ti-marker-alt"></i></a>
                      <a href="javascript:void(0)" class="text-danger delete-link h4" data-url="{% url 'admin_profile_delete' i.id %}" data-bs-original-title="Delete" data-bs-toggle="tooltip"><i class="ti-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  **********************************
            Content body end
        ***********************************  -->
{% endblock %}
