<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %} | AL-Noman Group Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <!-- App favicon -->
    {% if con_website_logo.favicon %}
    <link rel="shortcut icon" href="{{ con_website_logo.favicon.url }}" type="image/x-icon" >
    {% else %}
    <link rel="shortcut icon" href="{% static 'indexApp/images/favicon.png' %}" type="image/x-icon" >
    {% endif %}

    <!-- Bootstrap css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Head js -->
    <script src="{% static 'assets/js/head.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous" />

    <link href="{% static 'public/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'public/vendor/chartist/css/chartist.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="../../../cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'public/vendor/owl-carousel/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="{% static 'public/css/style.css' %}" rel="stylesheet" type="text/css" />
    <style>
      .themecolor1 {
        color: #FDB515;
      }
      .themebgcolor1 {
        background-color: #FDB515;
      }
      .themecolor2 {
        color: #2C2760;
      }
      .themebgcolor2 {
        background-color: #2C2760;
      }
      .dynamic-img {
        height: var(--height);
        width: var(--width, 100px); /* Default to 100px if --width is not defined */
        aspect-ratio: var(--aspect, 1 / 1); /* Default to 1 / 1 if --aspect is not defined */
        object-fit: var(--fit, cover); /* Default to cover if --fit is not defined */
      }
      .warning {
        padding: 1px 6px; 
        color: #000; 
        background-color: orange; 
        border-radius: 50%;
      }
    </style>
  </head>

  <!-- body start -->
  <body data-layout-mode="default" data-theme="light" data-layout-width="fluid" data-topbar-color="dark" data-menu-position="fixed" data-leftbar-color="light" data-leftbar-size="default" data-sidebar-user="false">

    <div id="wrapper">
      {% include 'dashboard/main_header.html' %}
      {% include 'dashboard/sidebar.html' %}

      {% block content %}

      {% endblock %}
    </div>
    <!-- Vendor js -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>

    <!-- Chart JS -->
    <script src="{% static 'assets/libs/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'assets/libs/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>

    <!-- Chat app -->
    <script src="{% static 'assets/js/pages/jquery.chat.js' %}"></script>

    <!-- Todo app -->
    <script src="{% static 'assets/js/pages/jquery.todo.js' %}"></script>

    <!-- Dashboard init JS -->
    <script src="{% static 'assets/js/pages/dashboard-3.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'assets/js/app.min.js' %}"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="{% static 'public/vendor/global/global.min.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'public/vendor/bootstrap-select/dist/js/bootstrap-select.min.js'%}" type="text/javascript"></script> -->
    <script src="{% static 'public/vendor/chart.js/Chart.bundle.min.js' %}" type="text/javascript"></script>
    {% comment %} <script src="{% static 'public/vendor/apexchart/apexchart.js' %}" type="text/javascript"></script> {% endcomment %}
    <script src="{% static 'public/vendor/owl-carousel/owl.carousel.js' %}" type="text/javascript"></script>
    {% comment %} <script src="{% static 'public/vendor/jqvmap/js/jquery.vmap.min.js' %}" type="text/javascript"></script> {% endcomment %}
    <script src="{% static 'public/vendor/jqvmap/js/jquery.vmap.world.js' %}" type="text/javascript"></script>
    <script src="{% static 'public/vendor/peity/jquery.peity.min.js' %}" type="text/javascript"></script>
    {% comment %} <script src="{% static 'public/js/dashboard/dashboard-1.js' %}" type="text/javascript"></script> {% endcomment %}
    <script src="{% static 'public/js/custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'public/js/deznav-init.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const Toast = Swal.mixin({
        toast: true,
        position: 'bottom-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
        })
        {% for message in messages %}
        Toast.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        })
        {% endfor %}
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const deleteLinks = document.querySelectorAll('.delete-link')
        deleteLinks.forEach((link) => {
          link.addEventListener('click', function (event) {
            event.preventDefault()
            const url = this.getAttribute('data-url')
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = url
              }
            })
          })
        })
      })
    </script>
    {% comment %}
    <td>
      <a href="" class="text-primary h4 mr-1" data-bs-original-title="View" data-bs-toggle="tooltip"><i class="ti-eye"></i></a>
      <a href="" class="text-info h4 mr-1" data-bs-toggle="tooltip" data-bs-original-title="Edit"><i class="ti-marker-alt"></i></a>
      <a href="javascript:void(0)" class="text-danger delete-link h4" data-url="" data-bs-original-title="Delete" data-bs-toggle="tooltip"><i class="ti-trash"></i></a>
    </td>
    {% endcomment %}
  </body>
</html>
